.container{
    position: absolute;
    top:      0;
    right:    0;
    display:  flex;
    margin:   16px 24px;
}
.flag{
    border-radius: 50%;
    margin:        8px;
    cursor:        pointer;
    position:      relative;
}
.flagOutline{
    box-sizing:    content-box !important;
    position:      absolute;
    width:         29px;
    height:        29px;
    top:           -4.5px;
    left:          -4.5px;
    border-radius: 50px;
    border:        5px solid #1890FF;
}
